Module 13 - AI Agents N8N/4. Parsed_strctured_output.json
{
  "name": "3. Parsed_strctured_output",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        -140
      ],
      "id": "e82789ca-d37e-4344-b097-e03e2df35f35",
      "name": "When chat message received",
      "webhookId": "2eb431d7-06be-46fc-91a1-3d294fe53c48"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the user input in a single sentence. Provide the output as json\n\n{{ $json.chatInput }}\n\nOutput should be in the following format:\n\n{\"Tag\": \"News\", \"Summary\": \"summary of the article\"}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        40,
        -140
      ],
      "id": "25cd0e8b-58b7-4513-98bd-1a57ef648b18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        80
      ],
      "id": "b39cc526-c045-4fbd-a5db-e816f6b8e57d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6lG17ChnjPsU8HqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ES9BcvIHjrpt5o5VNX7UYGMeUbEYAts0tiw5qTg9aLA/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ES9BcvIHjrpt5o5VNX7UYGMeUbEYAts0tiw5qTg9aLA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ $json.output.Summary }}",
            "Input": "={{ $('When chat message received').item.json.chatInput }}",
            "Tag": "={{ $json.output.Tag }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -140
      ],
      "id": "6cfceb7b-9e8d-429b-9ed4-1e0fbc16fd5f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kQJ8bFlvmzTf0Afj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Tag\": \"News\",\n\t\"Summary\": \"Summary of the article\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        300,
        100
      ],
      "id": "3c1d560d-20c6-4abf-92c1-0074d9389165",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80ba2801-f2af-497a-9591-5810f5e71519",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce68f10d1203da01dcd394550f47f622928b62b145cec8633e335d9709c9c665"
  },
  "id": "zK2VkqMfqer0LmfY",
  "tags": []
}